* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  height: 100%;
  font-size: 22px;
  font-family: 'DM Sans', sans-serif;
}

.body {
  margin: auto;
  width: 70%;
  height: 100%;
  border: 1px solid black;
  display: block;
}


.head {
    height: 120px;
    display: flex;
    justify-content: space-around;
}

.head > div {
    padding: 40px;
}
